<h1>Photkey</h1>
<p>
<p>Hello! This is Photkey! </p>
<p><a href="http://146.59.34.237:3000/login">Login form</a> </p>
<p><a href="http://146.59.34.237:3000/users">Show all users</a> </p>
<p><a href="http://146.59.34.237:3000/swagger/dist/index.html?url=/api-docs.json">Swagger UI</a></p>
</p>